# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
clean_env
streamlit_env
cache/*
!cache/*.md
cache_docker/*
!cache_docker/*.md
env
venv
embed
archive

# Temp files
.chainlit
.vscode
output*
chainlit.md
my-app
terraform
.DS_Store
*.zip
docs/*
!docs/INSTRUCTIONS.md
